.CodeMirror {
    text-align: left !important;
}

.code-mirror-wrapper {
    flex-grow: 1;
    overflow: scroll !important;
    margin-bottom: -50px; margin-right: -50px;
    padding-bottom: 50px;
    padding-right: 33.5px;
}