.nav {
    display: flex;
    background-color: #1e1f26;
    height: 10vh;

    @media screen and (max-width: 850px) {
        height: 20vh;
    }

    &__logo-container {
        height: 3rem;
        align-self: center;
        @media screen and (max-width: 850px) {
            height: 1.5rem;
        }
    }

    &__logo {
        fill: white;
        vertical-align: middle;
        margin: 0 1rem;
        padding-top: .7rem;
    }
}

.project {
    display: flex;
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
    flex-direction: column;
    align-self: center;

    @media screen and (max-width: 850px) {
        font-size: 1.1rem;
    }

    &__name {
        margin: 0;
    }

    & #edit {
        margin-left: .7rem;
        fill: white;
        cursor: pointer;
    }

    &__change-name {
        outline: none;
        border: none;
        background: transparent;
        color: white;
        font-size: 1.5rem;

        @media screen and (max-width: 850px) {
            font-size: 1.1rem;
        }

        &:focus,
        &:active {
            outline: none;
        }
    }
}

.options {
    margin-left: auto;
    display: flex;
    align-items: center;
    & > button {
        margin-right: 1rem;
    }

    &__greeting {
        font-size: 1.6rem;
        font-weight: 600;
        color: white;
        margin-right: 2rem;
    }

    &__reminder {
        margin-right: 3rem;
        font-size: 1.6rem;
        color: rgba(133, 132, 132, 0.795);
        @media screen and (max-width: 850px) {
            font-size: 1.2rem;
        }
    }
}

.signupin {
    display: flex;
}